@model ModernizationDemo.App.Model.PagerModel

@foreach (var pageIndex in Enumerable.Range(0, Model.PagesCount))
{
    <td>
        @if (Model.PageIndex != pageIndex)
        {
            <a href="@Url.Action(Model.ActionName, new { page = pageIndex })" >
                @(pageIndex + 1)
            </a>
        }
        else
        {
            <span>
                @(pageIndex + 1)
            </span>
        }
    </td>
}